<!DOCTYPE html>
@model WeightCalculator.ViewModel.BmiVM
<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desired weight calculator</title>

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
          rel="stylesheet" />
</head>
<body>
    <header class="header">
        <h1 class="header__heading">
            Desired Weight calculator
        </h1>
    </header>
    <main class="content">
        <section class="form" data-form>
            @using (Ajax.BeginForm("Count", "Home", new AjaxOptions { UpdateTargetId = "Result", HttpMethod = "POST" }))
            {
                @Html.AntiForgeryToken();
                <article class="form__item">
                    <label for="weight-initial" class="form__label">@Html.LabelFor(b => b.InitWeight, "Initial Weight:")</label>
                    <div class="form__data">
                        <input type="range"
                               name="InitWeight"
                               id="InitWeight"
                               class="form__input"
                               step="1"
                               min="30"
                               max="200"
                               value="85"
                               oninput=myFunction(this.name,"InitWeightoutput") />
                        <p class="form__result" id="InitWeightoutput" data-initial-weight-result>85 kg</p>
                    </div>
                </article>
                <article class="form__item">
                    <label for="weight-desired" class="form__label">@Html.LabelFor(b => b.DesiredWeight, "Desired Weight:")</label>
                    <div class="form__data">
                        <input type="range"
                               name="DesiredWeight"
                               id="DesiredWeight"
                               class="form__input"
                               step="1"
                               min="30"
                               max="200"
                               value="85"
                               oninput=myFunction(this.name,"DesiredWeightoutput") />
                        <p class="form__result" id="DesiredWeightoutput" data-desired-weight-result>85 kg</p>
                    </div>
                </article>
                <article class="form__item">
                    <label for="height" class="form__label">@Html.LabelFor(b => b.Height, "Height:")</label>
                    <div class="form__data">
                        <input type="range"
                               name="Height"
                               id="Height"
                               class="form__input"
                               step="1"
                               min="90"
                               max="250"
                               value="160"
                               oninput=myFunction(this.name,"HeightOutput") />
                        <p class="form__result" id="HeightOutput" data-height-result> 160 cm</p>
                    </div>
                </article>
                <article class="form__item">
                    <label for="start-date" class="form__label">@Html.LabelFor(b => b.StartDate, "Start date:")</label>
                    <div class="form__data">
                        <input type="date"
                               name="StartDate"
                               id="StartDate"
                               class="form__input"
                               />
                    </div>
                </article>
                <article class="form__item">
                    <label for="end-date" class="form__label">@Html.LabelFor(b => b.EndDate, "End date:")</label>
                    <div class="form__data">
                        <input type="date"
                               name="EndDate"
                               id="EndDate"
                               class="form__input" />
                    </div>
                </article>
                <button class="form__button" id="Count" data-button>Count</button>
                @Html.ValidationSummary();
                <div id="Result">

                </div>
            }




</main>
    <script src="./js/index.js"></script>
    <script>
        document.getElementById("StartDate").valueAsDate = new Date();
        document.getElementById("EndDate").valueAsDate = new Date();
        const app = new App();
        app.initializeApp();
           function myFunction(name,nameoutput) {
               var x = document.getElementById(name).value;
               if (document.getElementById(name).id=="Height")
                   document.getElementById(nameoutput).innerHTML = x + " cm";
               else
                   document.getElementById(nameoutput).innerHTML = x + " kg";
          }


    </script>
   
</body>
</html>